body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
}

input,
textarea,
select,
button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.task-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 15px;
}